<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3>글쓰기</h3>

    <form id="saveform">
        카테고리 : <select name="category">
                    <option value="자유게시판">자유게시판</option>
                    <option value="질문게시판">질문게시판</option>
                    <option value="팁게시판">팁게시판</option>
                </select>
        작성자 : <input type="text" name="bwriter"><br>
        비밀번호 :  <input type="text" name="bpassword"><br>
        제목 :    <input type="text" name="btitle"><br>
        내용 :    <textarea type="text" name="bcontent"></textarea><br>
        <button type="button" onclick="bwrite()">등록</button>
        <a href="/"><button type="button">목록</button></a>
    </form>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/js/write.js"></script>
</body>
</html>